{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection - {% block Title %}{% endblock Title %}</title>

    <!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- FONTAWESOME CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
   
</head>

<body class="{% block BodyClassToggler %}{% endblock BodyClassToggler %}">
    {% if request.user.username != '' %}
      
    <div class="position-fixed top-0 mt-4" style='right: 0; margin-right: 1rem;'>
        <a href="{% url 'fraud_detection:logout'%}" class="btn btn-warning text-white" style="background: #575779; border-color: #575779;">{{request.user.username}} <i class="fa fa-sign-out"></i></a>
    </div>
    {% endif %}
    {% block Content %}
      
    {% endblock Content %}
    {% block Script %}
      
    {% endblock Script %}
</body>
</html>