@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #6C72CB,#575779,#BE81EA);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}


.top-content {
    text-align: center;
    color: #FFFFFF;
}

.form-login{
    width: 350px;
    background: #575779;
    border-radius: 10px;
    padding: 40px;
    box-shadow: -5px -5px 10px #323770, 5px 5px 6px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-login input,
.form-login input:focus{
    background: #575779;
    /* box-shadow: -2px -5px 10px #252846, 5px 5px 6px rgba(0, 0, 0, 0.1); */
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
    color: #EEEDF0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}    

.form-login label {
    color: #EEEDF0;
}

.form-login .forgot-password a{
    text-decoration: none;
    font-size: 0.8em;
    color: #BE81EA;
}

.form-login .btn-success, .form-login .btn-success:hover  {
    background-color: #BE81EA;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-callout {    
    padding: 10px 20px;
    text-align: center;
    width: 350px;
    border: 1px solid #EEEDF0;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login-callout  {
    color: #EEEDF0;
}

.login-callout a {
    text-decoration: none;
    color: #BE81EA;
}

