{% extends "base.html" %}

<style>

  
</style>

{% block Title %} Login {% endblock Title %}
{% block BodyClassToggler %}loginWrapper{% endblock BodyClassToggler %}

{% block Content %}
<div class="frmPage">
  <form action="" method='POST' class="form-horizontal form-login">
      {% csrf_token %}
      <h4 class="text-white mb-3"> Security Questions </h4>
      <!-- Security Questions field -->

        <!-- Security Questions field -->
        {% if questions %}
          {% for quest in questions  %}
            <label for="question3">Question 3 <span class="text-danger">*</span></label>
            <select class="form-select form-control mb-2" aria-label="Default select example" required>
                <option selected>{{quest.question}}</option>
            </select>
            
            <!-- Answer -->
            <label for="answer3">Answer </label>
            <div class="col-md-12">
                <input name="answer-{{quest.id}}" type="text"  class="mb-3 form-control" required>
            </div>
          {% endfor %}
        {% endif %}



   <!-- Button -->
   <div class="form-group text-center">
    <div class="col-md-12">
        <button id="account-button" type="submit" class="form-control btn btn-success"> Verify </button>
    </div>
</div>

  </form>

</div> <!-- .frmPage -->
{% endblock Content %}