{% extends "base.html" %}
{% load static %}

{% block Title %} Register {% endblock Title %}
{% block BodyClassToggler %}loginWrapper{% endblock BodyClassToggler %}

{% block Content %}
<div class="background-placeholder">
  <img src="{% static 'img/back.jpg' %}" alt="">
</div>
<div class="container">
  <div class="row reg-row">
      <div class="col-md-8 cent">
          <h1> Sign up for full access to this site. </h1>
      </div>

      <div class="col-md-4 reg-form">
          <div class="text-center">
              <h4>Registration form </h4>
              <div class="lines">
                  <hr class="m-2" style="width: 50px; height: 3px; color: #CB69C1;">
                  <hr class="m-2" style="width: 50px; height: 3px; color: #BE81EA;">
              </div>

          </div>
          <form method="post">
              {% csrf_token %}
              <!-- Fullname input -->
              <div class="form-group">
                  <label class="mb-2 col-md-4 control-label" for="fullname">
                      Fullname
                  </label>
                  <div class="col-md-12">
                      <input name="fullname" type="text" class="mb-3 form-control" required>
                  </div>
              </div>
              <!-- username input -->
              <div class="form-group">
                  <label class="mb-2 col-md-4 control-label" for="username">
                      Username
                  </label>
                  <div class="col-md-12">
                      <input name="username" type="text" class="mb-3 form-control" required>
                  </div>
              </div>
              <!-- email input -->
              <div class="form-group">
                  <label class="mb-2 col-md-4 control-label" for="email">
                      Email
                  </label>
                  <div class="col-md-12">
                      <input name="email" type="email" class="mb-3 form-control" required>
                  </div>
              </div>
              <!-- Password input-->
              <div class="form-group">

                  <label class="mb-2 col-md-12 control-label" for="password">
                      Password
                  </label>
                  <div class="col-md-12">
                      <input required name="password" type="password" class=" mb-3 form-control input-md">
                  </div>

              </div>
              <!-- Confirm Password input-->
              <div class="form-group">

                  <label class="mb-2 col-md-12 control-label" for="password">
                      Confirm Password
                  </label>
                  <div class="col-md-12">
                      <input required name="confirm_password" type="password" class=" form-control input-md" />
                      <small>asdfjalksdjl</small>
                  </div>

              </div>
              <!-- Button -->
              <div class="form-group text-center">
                  <div class="col-md-12">
                      <button type="submit" class="form-control btn btn-success">Sign up</button>
                  </div>
              </div>
              <p class="mt-2 text-center signup-callout"> Already have an account? <a href="{% url 'fraud_detection:login' %}">Log in</a> </p>
      </div>
      

      </form>
  </div>



</div>
</div>

{% endblock Content %}

{% block Script %}
  <script>

    alert('hello')

  </script>
{% endblock Script %}